body {
  background-image: url("./img/backgroundFlowers.png");
}
.button-container {
  width: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-button {
  background: #2ecc71;
  height: 7vh;
  width: 210px;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0.2vh 0.2vh 0px #17b55a) drop-shadow(0.4vh 0.4vh 0px #17b55a);
  color: #fff;
  font-weight: 900;
  font-size: 3vh;
  margin: 20px;
  -webkit-box-shadow:inset 0px 0px 0px 3px #1b1b1b27;
  -moz-box-shadow:inset 0px 0px 0px 3px #1b1b1b27;
  box-shadow:inset 0px 0px 0px 3px #1b1b1b27;
}

.menu-button:hover {
  filter: drop-shadow(0.2vh 0.2vh 0px #17b55a) drop-shadow(0.4vh 0.4vh 0px #17b55a) drop-shadow(0.6vh 0.6vh 0px #17b55a);
  transition: 0.4s;
  cursor: pointer;
}
.button-container > h1 {
  text-align: center;
  font-size: 5vh;
  color: #fff;
}
.logo {
  width: 120px;
  margin: 0 auto; /* Center the logo horizontally */
  display: block; /* Ensure it's a block element for margin to work */
  margin-bottom: 10px;
} 
